/* using this pallette btw:
    light-gray: #959bb5
    Darkest:  #0a1123
    mid dark: #3a3e6c
    light-blue: #8387c3
    mid-gray: #8a8cac
*/

body {
    background-color: #0a1123;
}

p {
    color: #8a8cac;
}

header {
    color: #959bb5;
}


table,th,td {
    color: #959bb5;
    border: 1px solid #959bb5;
}

th, td {
    padding: 5px;
    text-align: center;
    word-wrap: break-word;
}

table {
    table-layout: auto;
    width: 100%;
    border-collapse: collapse;
}

.table-container {
    overflow-x: auto;
    max-width: 50%;
}

input[type="text"] {
    border: none;
    width: 100%;
    box-sizing: border-box;
    background-color: #0a1123;
    color: #959bb5;
}
