<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet", href="{{ url_for('static', filename='css/styles.css') }}"/>
    <link href="https://fonts.googleapis.com/css2?family=DM+Serif+Text:ital@0;1&family=Lexend+Deca:wght@100..900&family=Liter&family=Public+Sans:ital,wght@0,100..900;1,100..900&display=swap" 
    rel="stylesheet">
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='favicon.ico')}}">

    <script type="module", src="{{ url_for('static', filename='js/script.js') }}"></script>
    <title>{% block title %}My App{% endblock %}</title>
</head>
<body>
    <header>
        <h1>My Site</h1>
    </header>

    <main>
        {% block content %}
        
        {% endblock %}
    </main>
</body>
</html>
