{% extends "base.html" %}

{% block title %}Blackjack Sim{% endblock %}

{% block content %} 
<div class="main-content">
    <div class="table-container">
        <form id="table-form">
            <table>
                <tr>
                    <td colspan="5">STAND OR DRAW</td>
                    <td colspan="6">D-UP</td>
                </tr>
                <tr>
                    <td>&nbsp; </td>
                    <td>2</td>
                    <td>3</td>
                    <td>4</td>
                    <td>5</td>
                    <td>6</td>
                    <td>7</td>
                    <td>8</td>
                    <td>9</td>
                    <td>10</td>
                    <td>A</td>
                </tr>
                <tr>
                    <td>17</td>
                    <td><input type ="text" value="S"></td>
                    <td><input type ="text" value="S"></td>
                    <td><input type ="text" value="S"></td>
                    <td><input type ="text" value="S"></td>
                    <td><input type ="text" value="S"></td>
                    <td><input type ="text" value="S"></td>
                    <td><input type ="text" value="S"></td>
                    <td><input type ="text" value="S"></td>
                    <td><input type ="text" value="S"></td>
                    <td><input type ="text" value="-10"></td>
                </tr>
                <tr>
                    <td>16</td>
                    <td><input type ="text" value="-14"></td>
                    <td><input type ="text" value="-17"></td>
                    <td><input type ="text" value="-19"></td>
                    <td><input type ="text" value="-22"></td>
                    <td><input type ="text" value="-20"></td>
                    <td><input type ="text" value="15"></td>
                    <td><input type ="text" value="14"></td>
                    <td><input type ="text" value="7"></td>
                    <td><input type ="text" value="0"></td>
                    <td><input type ="text" value="14"></td>
                </tr>
                <tr>
                    <td>15</td>
                    <td><input type ="text" value="-10"></td>
                    <td><input type ="text" value="-10"></td>
                    <td><input type ="text" value="-14"></td>
                    <td><input type ="text" value="-17"></td>
                    <td><input type ="text" value="-17"></td>
                    <td><input type ="text" value="22"></td>
                    <td><input type ="text" value="21"></td>
                    <td><input type ="text" value="15"></td>
                    <td><input type ="text" value="6"></td>
                    <td><input type ="text" value="18"></td>
                </tr>
                <tr>
                    <td>14</td>
                    <td><input type ="text" value="-6"></td>
                    <td><input type ="text" value="-7"></td>
                    <td><input type ="text" value="-10"></td>
                    <td><input type ="text" value="-12"></td>
                    <td><input type ="text" value="-12"></td>
                    <td><input type ="text" value="H"></td>
                    <td><input type ="text" value="H"></td>
                    <td><input type ="text" value="H"></td>
                    <td><input type ="text" value="15*"></td>
                    <td><input type ="text" value="22"></td>
                </tr>
                <tr>
                    <td>13</td>
                    <td><input type ="text" value="-1"></td>
                    <td><input type ="text" value="-3"></td>
                    <td><input type ="text" value="-5"></td>
                    <td><input type ="text" value="-8"></td>
                    <td><input type ="text" value="-8"></td>
                    <td><input type ="text" value="H"></td>
                    <td><input type ="text" value="H"></td>
                    <td><input type ="text" value="H"></td>
                    <td><input type ="text" value="H"></td>
                    <td><input type ="text" value="H"></td>
                </tr>
                <tr>
                    <td>12</td>
                    <td><input type ="text" value="5"></td>
                    <td><input type ="text" value="2"></td>
                    <td><input type ="text" value="0"></td>
                    <td><input type ="text" value="-2"></td>
                    <td><input type ="text" value="-2"></td>
                    <td><input type ="text" value="H"></td>
                    <td><input type ="text" value="H"></td>
                    <td><input type ="text" value="H"></td>
                    <td><input type ="text" value="H"></td>
                    <td><input type ="text" value="H"></td>
                </tr>
                <tr>
                    <td colspan="5">Stand if TC is >= index</td>
                    <td colspan="6">* STAND if +6 IF 14=(7,7)</td>
                </tr>
                <tr>
                    <td>A-8</td>
                    <td><input type ="text" value="S"></td>
                    <td><input type ="text" value="S"></td>
                    <td><input type ="text" value="S"></td>
                    <td><input type ="text" value="S"></td>
                    <td><input type ="text" value="S"></td>
                    <td><input type ="text" value="S"></td>
                    <td><input type ="text" value="S"></td>
                    <td><input type ="text" value="S"></td>
                    <td><input type ="text" value="S"></td>
                    <td><input type ="text" value="S"></td>
                </tr>
                <tr>
                    <td>A-7</td>
                    <td><input type ="text" value="S"></td>
                    <td><input type ="text" value="S"></td>
                    <td><input type ="text" value="S"></td>
                    <td><input type ="text" value="S"></td>
                    <td><input type ="text" value="S"></td>
                    <td><input type ="text" value="S"></td>
                    <td><input type ="text" value="-22"></td>
                    <td><input type ="text" value="H"></td>
                    <td><input type ="text" value="H"></td>
                    <td><input type ="text" value="0"></td>
                </tr>
                <tr>
                    <td>A-6</td>
                    <td><input type ="text" value="H"></td>
                    <td><input type ="text" value="H"></td>
                    <td><input type ="text" value="H"></td>
                    <td><input type ="text" value="H"></td>
                    <td><input type ="text" value="H"></td>
                    <td><input type ="text" value="H"></td>
                    <td><input type ="text" value="H"></td>
                    <td><input type ="text" value="H"></td>
                    <td><input type ="text" value="H"></td>
                    <td><input type ="text" value="H"></td>
                </tr>
                <td colspan="11">DOUBLE DOWN</td>
                <tr>
                    <td>&nbsp; </td>
                    <td>2</td>
                    <td>3</td>
                    <td>4</td>
                    <td>5</td>
                    <td>6</td>
                    <td>7</td>
                    <td>8</td>
                    <td>9</td>
                    <td>10</td>
                    <td>A</td>
                </tr>
                <tr>
                    <td>11</td>
                    <td><input type ="text" value="-17"></td>
                    <td><input type ="text" value="-18"></td>
                    <td><input type ="text" value="-19"></td>
                    <td><input type ="text" value="-21"></td>
                    <td><input type ="text" value="-23"></td>
                    <td><input type ="text" value="-12"></td>
                    <td><input type ="text" value="-9"></td>
                    <td><input type ="text" value="-6"></td>
                    <td><input type ="text" value="-6"></td>
                    <td><input type ="text" value="2"></td>
                </tr>
                <tr>
                    <td>10</td>
                    <td><input type ="text" value="-13"></td>
                    <td><input type ="text" value="-15"></td>
                    <td><input type ="text" value="-17"></td>
                    <td><input type ="text" value="-19"></td>
                    <td><input type ="text" value="-21"></td>
                    <td><input type ="text" value="-10"></td>
                    <td><input type ="text" value="-6"></td>
                    <td><input type ="text" value="-2"></td>
                    <td><input type ="text" value="9"></td>
                    <td><input type ="text" value="8"></td>
                </tr>
                <tr>
                    <td>9</td>
                    <td><input type ="text" value="4"></td>
                    <td><input type ="text" value="0"></td>
                    <td><input type ="text" value="-3"></td>
                    <td><input type ="text" value="-7"></td>
                    <td><input type ="text" value="-9"></td>
                    <td><input type ="text" value="7"></td>
                    <td><input type ="text" value="17"></td>
                    <td><input type ="text" value="H"></td>
                    <td><input type ="text" value="H"></td>
                    <td><input type ="text" value="H"></td>
                </tr>
                <tr>
                    <td>8</td>
                    <td><input type ="text" value="H"></td>
                    <td><input type ="text" value="17"></td>
                    <td><input type ="text" value="12"></td>
                    <td><input type ="text" value="7"></td>
                    <td><input type ="text" value="5"></td>
                    <td><input type ="text" value="H"></td>
                    <td><input type ="text" value="H"></td>
                    <td><input type ="text" value="H"></td>
                    <td><input type ="text" value="H"></td>
                    <td><input type ="text" value="H"></td>
                </tr>
                <tr>
                    <td>A-9</td>
                    <td><input type ="text" value="S"></td>
                    <td><input type ="text" value="16"></td>
                    <td><input type ="text" value="13"></td>
                    <td><input type ="text" value="10"></td>
                    <td><input type ="text" value="9"></td>
                    <td><input type ="text" value="S"></td>
                    <td><input type ="text" value="S"></td>
                    <td><input type ="text" value="S"></td>
                    <td><input type ="text" value="S"></td>
                    <td><input type ="text" value="S"></td>
                </tr>
                <tr>
                    <td>A-8</td>
                    <td><input type ="text" value="S"></td>
                    <td><input type ="text" value="9"></td>
                    <td><input type ="text" value="6"></td>
                    <td><input type ="text" value="3"></td>
                    <td><input type ="text" value="2"></td>
                    <td><input type ="text" value="S"></td>
                    <td><input type ="text" value="S"></td>
                    <td><input type ="text" value="S"></td>
                    <td><input type ="text" value="S"></td>
                    <td><input type ="text" value="S"></td>
                </tr>
                <tr>
                    <td>A-7</td>
                    <td><input type ="text" value="2"></td>
                    <td><input type ="text" value="-2"></td>
                    <td><input type ="text" value="-8"></td>
                    <td><input type ="text" value="-12"></td>
                    <td><input type ="text" value="-12"></td>
                    <td><input type ="text" value="S"></td>
                    <td><input type ="text" value="-22/S"></td>
                    <td><input type ="text" value="H"></td>
                    <td><input type ="text" value="H"></td>
                    <td><input type ="text" value="0/H"></td>
                </tr>
                <tr>
                    <td>A-6</td>
                    <td><input type ="text" value="2"></td>
                    <td><input type ="text" value="-5"></td>
                    <td><input type ="text" value="-9"></td>
                    <td><input type ="text" value="-16"></td>
                    <td><input type ="text" value="-19"></td>
                    <td><input type ="text" value="23"></td>
                    <td><input type ="text" value="H"></td>
                    <td><input type ="text" value="H"></td>
                    <td><input type ="text" value="H"></td>
                    <td><input type ="text" value="H"></td>
                </tr>
                <tr>
                    <td>A-5</td>
                    <td><input type ="text" value="H"></td>
                    <td><input type ="text" value="6"></td>
                    <td><input type ="text" value="-3"></td>
                    <td><input type ="text" value="-10"></td>
                    <td><input type ="text" value="-16"></td>
                    <td><input type ="text" value="H"></td>
                    <td><input type ="text" value="H"></td>
                    <td><input type ="text" value="H"></td>
                    <td><input type ="text" value="H"></td>
                    <td><input type ="text" value="H"></td>
                </tr>
                <tr>
                    <td>A-4</td>
                    <td><input type ="text" value="H"></td>
                    <td><input type ="text" value="8"></td>
                    <td><input type ="text" value="0"></td>
                    <td><input type ="text" value="-7"></td>
                    <td><input type ="text" value="-11"></td>
                    <td><input type ="text" value="H"></td>
                    <td><input type ="text" value="H"></td>
                    <td><input type ="text" value="H"></td>
                    <td><input type ="text" value="H"></td>
                    <td><input type ="text" value="H"></td>
                </tr>
                <tr>
                    <td>A-3</td>
                    <td><input type ="text" value="H"></td>
                    <td><input type ="text" value="10"></td>
                    <td><input type ="text" value="2"></td>
                    <td><input type ="text" value="-4"></td>
                    <td><input type ="text" value="-8"></td>
                    <td><input type ="text" value="H"></td>
                    <td><input type ="text" value="H"></td>
                    <td><input type ="text" value="H"></td>
                    <td><input type ="text" value="H"></td>
                    <td><input type ="text" value="H"></td>
                </tr>
                <tr>
                    <td>A-2</td>
                    <td><input type ="text" value="11"></td>
                    <td><input type ="text" value="5"></td>
                    <td><input type ="text" value="0"></td>
                    <td><input type ="text" value="-3"></td>
                    <td><input type ="text" value="H"></td>
                    <td><input type ="text" value="H"></td>
                    <td><input type ="text" value="H"></td>
                    <td><input type ="text" value="H"></td>
                    <td><input type ="text" value="H"></td>
                    <td><input type ="text" value="H"></td>
                </tr>
                <tr>
                    <td colspan="11">SPLITS</td>
                </tr>
                <tr>
                    <td>&nbsp; </td>
                    <td>2</td>
                    <td>3</td>
                    <td>4</td>
                    <td>5</td>
                    <td>6</td>
                    <td>7</td>
                    <td>8</td>
                    <td>9</td>
                    <td>10</td>
                    <td>A</td>
                </tr>
                <tr>
                    <td>A-A</td>
                    <td><input type ="text" value="-18"></td>
                    <td><input type ="text" value="-19"></td>
                    <td><input type ="text" value="-20"></td>
                    <td><input type ="text" value="-21"></td>
                    <td><input type ="text" value="-22"></td>
                    <td><input type ="text" value="-15"></td>
                    <td><input type ="text" value="-14"></td>
                    <td><input type ="text" value="-13"></td>
                    <td><input type ="text" value="-13"></td>
                    <td><input type ="text" value="-7"></td>
                </tr>
                <tr>
                    <td>10/10</td>
                    <td><input type ="text" value="N"></td>
                    <td><input type ="text" value="15"></td>
                    <td><input type ="text" value="9"></td>
                    <td><input type ="text" value="8"></td>
                    <td><input type ="text" value="N"></td>
                    <td><input type ="text" value="N"></td>
                    <td><input type ="text" value="N"></td>
                    <td><input type ="text" value="N"></td>
                    <td><input type ="text" value="N"></td>
                    <td><input type ="text" value="N"></td>
                </tr>
                <tr>
                    <td>9-9</td>
                    <td><input type ="text" value="-3"></td>
                    <td><input type ="text" value="-7"></td>
                    <td><input type ="text" value="-10"></td>
                    <td><input type ="text" value="-11"></td>
                    <td><input type ="text" value="-13"></td>
                    <td><input type ="text" value="8"></td>
                    <td><input type ="text" value="SP"></td>
                    <td><input type ="text" value="SP"></td>
                    <td><input type ="text" value="N"></td>
                    <td><input type ="text" value="9"></td>
                </tr>
                <tr>
                    <td>8-8</td>
                    <td><input type ="text" value="SP"></td>
                    <td><input type ="text" value="SP"></td>
                    <td><input type ="text" value="SP"></td>
                    <td><input type ="text" value="SP"></td>
                    <td><input type ="text" value="SP"></td>
                    <td><input type ="text" value="SP"></td>
                    <td><input type ="text" value="SP"></td>
                    <td><input type ="text" value="SP"></td>
                    <td><input type ="text" value="12*"></td>
                    <td><input type ="text" value="SP"></td>
                </tr>
                <tr>
                    <td>7-7</td>
                    <td><input type ="text" value="-15"></td>
                    <td><input type ="text" value="-18"></td>
                    <td><input type ="text" value="-21"></td>
                    <td><input type ="text" value="SP"></td>
                    <td><input type ="text" value="SP"></td>
                    <td><input type ="text" value="SP"></td>
                    <td><input type ="text" value="-1"></td>
                    <td><input type ="text" value="N"></td>
                    <td><input type ="text" value="N"></td>
                    <td><input type ="text" value="N"></td>
                </tr>
                <tr>
                    <td>6-6</td>
                    <td><input type ="text" value="-2"></td>
                    <td><input type ="text" value="-6"></td>
                    <td><input type ="text" value="-8"></td>
                    <td><input type ="text" value="-12"></td>
                    <td><input type ="text" value="-22"></td>
                    <td><input type ="text" value="N"></td>
                    <td><input type ="text" value="N"></td>
                    <td><input type ="text" value="N"></td>
                    <td><input type ="text" value="N"></td>
                    <td><input type ="text" value="N"></td>
                </tr>
                <tr>
                    <td>5-5</td>
                    <td><input type ="text" value="N"></td>
                    <td><input type ="text" value="N"></td>
                    <td><input type ="text" value="N"></td>
                    <td><input type ="text" value="N"></td>
                    <td><input type ="text" value="N"></td>
                    <td><input type ="text" value="N"></td>
                    <td><input type ="text" value="N"></td>
                    <td><input type ="text" value="N"></td>
                    <td><input type ="text" value="N"></td>
                    <td><input type ="text" value="N"></td>
                </tr>
                <tr>
                    <td>4-4</td>
                    <td><input type ="text" value="N"></td>
                    <td><input type ="text" value="14"></td>
                    <td><input type ="text" value="7"></td>
                    <td><input type ="text" value="3"></td>
                    <td><input type ="text" value="0"></td>
                    <td><input type ="text" value="N"></td>
                    <td><input type ="text" value="N"></td>
                    <td><input type ="text" value="N"></td>
                    <td><input type ="text" value="N"></td>
                    <td><input type ="text" value="N"></td>
                </tr>
                <tr>
                    <td>3-3</td>
                    <td><input type ="text" value="-3"></td>
                    <td><input type ="text" value="-11"></td>
                    <td><input type ="text" value="-15"></td>
                    <td><input type ="text" value="-18"></td>
                    <td><input type ="text" value="SP"></td>
                    <td><input type ="text" value="15**"></td>
                    <td><input type ="text" value="N"></td>
                    <td><input type ="text" value="N"></td>
                    <td><input type ="text" value="N"></td>
                    <td><input type ="text" value="N"></td>
                </tr>
                <tr>
                    <td>2-2</td>
                    <td><input type ="text" value="-7"></td>
                    <td><input type ="text" value="-9"></td>
                    <td><input type ="text" value="-13"></td>
                    <td><input type ="text" value="-18"></td>
                    <td><input type ="text" value="SP"></td>
                    <td><input type ="text" value="SP"></td>
                    <td><input type ="text" value="15"></td>
                    <td><input type ="text" value="N"></td>
                    <td><input type ="text" value="N"></td>
                    <td><input type ="text" value="N"></td>
                </tr>
                <tr>
                    <td colspan="11"><button id="table-form-submission" type="submit">Run Sim</button></td>
                </tr>
            </table>
        </form>
    </div>
</div>

{% endblock %}
